.submenu2 {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 999;
    background: #ffffff;
    border-top: none;
    border-radius: 4px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
.nav-item2:hover .submenu2{
    display: block !important;
}
li.nav-item.nav-item2 {
    position: relative;
}